<section id="about" class="section has-background-warning">
  <div class="container">
    <h1 class="title">About</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed tortor venenatis est scelerisque pulvinar sit amet sit amet sapien. Maecenas fermentum finibus nisl a finibus. Nulla tempor turpis nunc, id fermentum turpis consectetur in. Suspendisse potenti. Mauris sodales quam nec volutpat fringilla. Morbi sagittis est et lacus facilisis congue et vel tellus. Etiam eu dignissim elit, id pharetra neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec venenatis massa. Curabitur id risus massa. Fusce id elit ac purus ultricies malesuada. Mauris at ornare odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <br/>
    <p>Sed mattis leo sed massa laoreet, eu semper est gravida. Aenean ac neque elementum, mollis arcu posuere, tristique nisl. Sed turpis ex, laoreet eget tortor vel, feugiat commodo dolor. Mauris a leo nunc. Nullam et molestie mauris. Nulla facilisi. Donec et pretium ex. Vestibulum aliquam diam at ligula vestibulum viverra. Sed id ex nec eros tempus fringilla eu vitae tortor. Integer hendrerit augue vel ante lobortis, consequat ornare neque luctus. Aenean hendrerit quam ut odio molestie blandit. Duis at tempor diam. In euismod urna eget nunc placerat ullamcorper non sed arcu. Cras bibendum ultrices lacinia.</p>
    <br/>
    <p>Nunc semper urna orci, eget bibendum magna tempor ut. Sed viverra nulla ac dolor varius, eu luctus lorem iaculis. In vitae ipsum vitae massa facilisis rutrum ac vitae quam. Donec sit amet aliquet justo, id sollicitudin lorem. Curabitur euismod tincidunt nunc quis tristique. Pellentesque sagittis ex eget ante pellentesque vehicula. Ut commodo, sem ut laoreet facilisis, sem sem consectetur mi, ac dictum diam metus laoreet libero. Donec eget lorem pretium, mollis arcu mollis, vulputate lacus.</p>

    <p>{{ myText }}</p>
  </div>
</section>